* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f7;
  font-family: arial;
}

header {
  display: flex;
  background-color: #2873f0;
  align-items: center;
  height: 56px;
}

.header_logo {
  margin-left: 11%;
}

.header_seller,
.header_more,
.header_cart {
  margin: 0 30px;
  color: #fff;
  font-weight: 500;
}

.glass {
  color: #2873f0;
}

.glass_container {
  padding: 0 10px;
}

.header-text {
  padding: 0 8px;
}

nav {
  display: flex;
  height: 35px;
  border-bottom: 1px solid #d2d3d6;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

nav > div {
  padding: 0 28px;
  font-weight: 600;
  font-size: 14px;
}

.helpcentercontainer-cap {
  font-size: 15px;
  padding: 20px 20px 15px 70px;
  font-weight: 600;
}

.helpcentercontainer_content {
  font-size: 12px;
  color: #969696;
  padding: 0px 20px 15px 70px;
  line-height: 1.4;
}

.mainContent {
  display: flex;
}

.left_box {
  width: 354px;
  margin: 40px;
  background-color: #fff;
  overflow-y: scroll;
  height: 514px;
}

.issuebox-cap {
  font-size: 12px;
  font-weight: 600;
  padding: 20px;
}

.issuebox-item {
  padding: 20px 20px 5px;
  font-size: 15px;
}

.issuebox {
  border-bottom: 1px solid #d8d8d8;
}

.helpbox-cap {
  font-size: 12px;
  font-weight: 600;
  padding: 20px 20px;
}

.helpbox-item {
  font-size: 14px;
  padding: 7px 22px;
}

.helpcenterbox {
  padding: 18px;
  width: 64vw;
  margin: 38px 10px;
  background-color: #fff;
}

.Issue_box {
  width: 64vw;
  height: 70vh;
  background-color: #fff;
  margin-left: 10px;
}

.Issue_boxItem1 {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 45px;
}

.green-dot {
  font-size: 8px;
  color: green;
  padding: 0 8px;
}

.Issue_boxQn {
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
}

footer {
  background-color: #172437;
  color: #fff;
  height: 351px;
}

.footerItem {
  font-size: 13px;
  width: 345px;
  padding: 40px;
}

.footerItemCaption {
  color: #606971;
  padding: 10px 0px;
}

.footerItem ul li {
  list-style-type: none;
  line-height: 25px;
}

.footer_Container {
  display: flex;
}

.contact {
  line-height: 18px;
}

.footerBottom_container {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}

.suitcase,
.star,
.gift-card,
.Question,
.cpright {
  padding: 0 6px;
}

.suitcase,
.star,
.gift-card,
.Question {
  color: yellow;
}
