body{
 background-color:#f2f3f5;
}

.mobile_header{
 padding:10px;
}

.flipLogo{
  display: inline-block;
  margin: 0 12px;
}

.varaint{
  padding: 20px;
  border-bottom: 1px solid #a7a7a7;
}

.color{
  border-bottom: 1px solid #a7a7a7;
  padding: 15px;
}

.storage{
  padding: 15px;
  border-bottom: 1px solid #a7a7a7;
}

.chipSet{
  background-color: #c0def9;
  color: #5c82b1;
  margin-left: 15px;
}

.phone_Caption{
  margin-top: 9px;
}

.phone_CaptionName{
  padding: 9px 13px;
}

.ratingBox{
  padding-left: 13px;
}

.trophy{
  font-size: 31px;
  color: blue;
}

.offerBox_Item1{
  display: flex;
    align-items: center;
    gap: 14px;
}

.offerBox{
  display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #5c82b1;
    background-color: #d3e3fd;
    padding: 23px;
    margin: 20px;
}

.freedelivery{
  font-size: 13px;
    padding-left: 12px;
}

.off-percent{
  font-size: 21px;
    font-weight: 600;
    color: green;
    padding-left: 12px;
}
del{
  font-size: 22px;
    font-weight: 600;
    color:#737373;
    padding: 0 9px;
}

.ratingNum{
  font-size: 13px;
  color: #424fc8;
}

.starBox{
  color: green;
    font-size: 12px;
}

.discountSaleimg{
  display: inline-block;
  margin-left: 12px;
}

.old_price{
  font-size: 22px;
    font-weight: 600;
}

.seller_details{
  display: flex;
    justify-content: space-between;
    padding: 18px;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.pincode_box{
  color: blue;
    font-size: 13px;
    border: 1px solid #8c8c8c;
    padding: 6px;
    border-radius: 4px;
}

.delivery_detail{
  display: flex;
    align-items: center;
    justify-content: space-between;
}