*{
 padding:0;
 margin:0;
 box-sizing:border-box;
}

body{
 background-color:#f2f3f7;
 font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

header{
 display:flex;
 background-color:#2873f0;
 align-items: center;
 height: 56px;
}

.header_searchBar{
  width: 35%;
  display: flex;
  align-items: center;
  background-color:#fff;
  margin-left: 9px;  
  height: 37px;
}

.header_logo{
  margin-left: 11%;
}

.header_searchBar input{
  border: 0;
  outline: none;
  width: 100%;
  background-color:#fff;
}

.login-btn{
  padding: 5px 50px;
  background-color:#fff;
  text-decoration:none;
  margin: 0 30px;
  font-weight:500;
  color:#2873f0;
}

.header_seller,.header_more,.header_cart{
   margin: 0 30px;
   color:#fff;
   font-weight:500;
}
.glass{
  color:#2873f0;
}

.glass_container{
  padding: 0 10px;
}

.header-text{
  padding:0 8px;
}

nav{
 display:flex;
 height: 35px;
 border-bottom: 1px solid #d2d3d6;
 align-items: center;
 justify-content: center;
 background-color:#fff;
}

nav > div{
 padding: 0 28px;
 font-weight: 500;
 font-size:14px;
}

.main_filterContainer-filter{
  background-color:#fff;
  width: 278px;
}

.filter_box{
  display:flex;
  justify-content:space-between;
  width:270px;
  height:50px;
  align-items:center;
  border-bottom:1px solid #f0f0f0;
  background-color:#fff;
  font-size:13px;
  font-weight:bold;
}

.filter_boxItemHead{
  width:270px;
  height:50px;
  border-bottom:1px solid #f0f0f0;
  font-weight:bold;
}

.boxItemHeadFilter{
  padding: 20px 7px;
}

.filter_boxItem1{
  display: flex;
}

.filter_box-categories{
  padding: 5px;
  font-size:12px;
}

main{
 display:flex;
}

.main_productItem1-options{
  display: flex;
  gap: 20px;
}



