*{
 padding:0;
 margin:0;
 box-sizing:border-box;
}

body{
 
 font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

header{
 display:flex;
 background-color:#2873f0;
 align-items: center;
 height: 56px;
 position:sticky;
 top: 0;
 z-index: 12;
}

.header_searchBar{
  width: 35%;
  display: flex;
  align-items: center;
  background-color:#fff;
  margin-left: 9px;  
  height: 37px;
}

.header_logo{
  margin-left: 11%;
}

.header_searchBar input{
  border: 0;
  outline: none;
  width: 100%;
  background-color:#fff;
}

.login-btn{
  padding: 5px 50px;
  background-color:#fff;
  text-decoration:none;
  margin: 0 30px;
  font-weight:500;
  color:#2873f0;
}

.header_seller,.header_more,.header_cart{
   margin: 0 30px;
   color:#fff;
   font-weight:500;
}
.glass{
  color:#2873f0;
}

.glass_container{
  padding: 0 10px;
}

.header-text{
  padding:0 8px;
}

nav{
 display:flex;
 height: 35px;
 border-bottom: 1px solid #d2d3d6;
 align-items: center;
 justify-content: center;
 background-color:#fff;
}

nav > div{
 padding: 0 28px;
 font-weight: 500;
 font-size:14px;
}

.main_filterContainer-filter{
  background-color:#fff;
  width: 304px;
  padding: 14px;
  border: 1px solid;
  margin: 10px;
}

.filter_box{
  display:flex;
  justify-content:space-between;
  width:270px;
  height:50px;
  align-items:center;
  border-bottom:1px solid #f0f0f0;
  background-color:#fff;
  font-size:13px;
  font-weight:bold;
}

.filter_boxItemHead{
  width:270px;
  height:50px;
  border-bottom:1px solid #f0f0f0;
  font-weight:bold;
}

.boxItemHeadFilter{
  padding: 20px 7px;
}

.filter_boxItem1{
  display: flex;
}

.filter_box-categories{
  padding: 5px;
  font-size:12px;
}

main{
 display:flex;
 
}

.main_productItem1-options{
  display: flex;
  gap: 20px;
  padding: 5px 5px 0px 5px;
}

.main_productContainer{
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  width: 77%;
}

.main_productItem1{
  border-bottom:2px solid #f4f4f4;
} 


.main_productItem1-itemText{
  font-size: 11px;
  color: #9d9a9a;
  padding: 10px 0px;
}

.right-arrow{
  padding: 0px 10px;
}

.main_productItem1 p{
  font-weight: 600;
  padding: 5px 0;
}

.main_productItemPhone{
  display: flex;
  padding: 20px;
  border-bottom: 2px solid #f4f4f4;
}

.main_productItem1-options div{
  font-size: 13px;
}

.sortBy{

}

.Relevance{
 font-weight: 600;
 color: #2873f0;
}

.phone_details{
  width: 568px;
  height: 248px;
}

.phone_image{
  width: 200px;
  height: 248px;
}

.phone_price{
  width: 205px;
  height: 248px;
  margin-left: 72px;
}

.current_price{
  font-size: 23px;
  font-weight: 600;
}

.phone_priceItem1{
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone_descr{
  font-weight: 600;
  padding: 5px 0;
}

.rating{
  border: 1px solid;
  width: 42px;
  background-color: #388e3c;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.ratingContainer{
  display: flex;
  gap: 10px;
}

.ratingContainer p{
  color: #918d93;
  font-size: 14px;
  font-weight: 600;
}

.Sponsored{
  font-size: 13px;
  color: #918d93;
}

.phone_details ul{  
  padding: 13px 0px;
}

.phone_details ul li{
  font-size: 14px;
  margin: 4px;
}

.phone_details ul li::marker{
  color: #c8c8c8;
}

.phone_price_value{
   display: flex;
   gap: 15px;
   padding: 5px 0px;
}

.old-price_value{
   font-size: 15px;
   color: #8d8985;
}

.off_percentvalue{
   font-size: 14px;
   color: green;
}

.freeDeliver{
  font-size: 12px;
}

.saveextra{
  font-size: 14px;
    color: green;
    padding: 6px 0px;
}

.exchange_offer{
  font-size: 14px;
}





